/* 
    Document   : styles
    Created on : 17.08.2010, 12:07:35
    Author     : mremolt
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

